* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

.app {
   max-width: 1230px;
   min-height: 100vh;
   margin: 0 auto;
   padding: 0 1rem;
}

a {
   text-decoration: none;
}

ul li {
   list-style: none;
}

button {
   border: none;
   background: transparent;
   outline: none;
   cursor: pointer;
}
