.login {
   width: 40%;
   margin: auto;
}

@media(max-width: 768px) {
   .login {
      width: 60%;
   }
}

@media(max-width: 425px) {
   .login {
      width: 80%;
   }
}

@media(max-width: 320px) {
   .login {
      width: 100%;
   }
}

.login h2 {
   text-transform: uppercase;
   text-align: center;
   margin: 1rem 0;
}

.login form {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
}

.login input {
   width: 100%;
   padding: 0.5rem 0.5rem;
   border-radius: 0.25rem;
   border: 1px solid #ccc;
   outline: none;
   font-size: 1rem;
}

.login .row {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.login .row button {
   width: 100%;
   background-color: crimson;
   color: #fff;
   padding: 0.5rem 1rem;
   border-radius: 0.25rem;
   font-size: 1rem;
   opacity: 0.95;
}

.login .row button:hover {
   opacity: 1;
}

.login .row a {
   color: #555;
   text-decoration: underline;
}
